/* Navbar CSS, wich has its breakpoints currently at 800 - 1 pixels*/

/* Structure of the navbar.stlye.css file:
0. Potential variable declarations
1. General styles applicable for desktop and mobile device screens.
2. General styles applicable ONLY for mobile device screens.
3. General styles applicable ONLY for desktop device screen. */

/* 0. Variable decleration */

/* 1. General */
.navbar nav {
	display: flex;
	height: 3rem;
	width: 100vw;
	align-items: center;
	justify-content: space-around;
	gap: 0.7rem;
	font-size: 2rem;
}

.navbar nav * div p {
	padding: 3px 5px;
}

.navbar nav .profile div,
.navbar nav .settings div,
.navbar nav .favorites div,
.navbar nav .next-dep div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar p:hover {
	background-color: lightsalmon;
	border-radius: 5px;
	border-width: 0;
	cursor: pointer;
}
/* 2. Mobile devices */
@media only screen and (max-width: 799px) {
	.navbar nav .profile div p,
	.navbar nav .settings div p,
	.navbar nav .favorites div p {
		display: none;
	}

	.navbar nav .next-dep div {
		font-size: 1rem;
		gap: 0.5rem;
	}

	.navbar ion-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile div ion-icon:hover,
	.settings div ion-icon:hover,
	.favorites div ion-icon:hover {
		display: inline-block;
		cursor: pointer;
		transform: rotate(360deg);
		transition-duration: 500ms;
	}
}

/* 3. Desktop devices */
@media only screen and (min-width: 800px) {
	.navbar nav .profile div ion-icon,
	.navbar nav .settings div ion-icon,
	.navbar nav .favorites div ion-icon {
		display: none;
	}

	.navbar nav .next-dep div {
		font-size: 1rem;
		justify-self: flex-end;
		gap: 1.5rem;
	}
}
